# Porta do Servidor
PORT=8080

# Chave criptográfica secreta do cookie de sessão (gerar string com 64 bytes aleatórios no ambiente de produção)
SESSION_KEY=gerar_uma_chave_secreta_com_pelo_menos_64_bytes_para_producao_segura_123

# Credenciais do Administrador inicial
ADMIN_USER=admin
ADMIN_PASS=admin123

# Diretório compartilhado no Host físico que será acessível pelo container
SHARE_DIR=./shared_files
